body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: #fff;
  overflow: hidden;
}
.main {
  display: flex;
  height: 100vh;
}

/* ===========sidebar========== */
.sidebar {
  width: 300px;
  border-radius: 1rem;
  margin-right: 0.5rem;
}
/* ------nav----- */
.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}
.nav-option {
  line-height: 1.5rem;
  opacity: 0.5;
  padding: 0.5rem 0.75rem;
}
.nav-option:hover {
  opacity: 1;
}
.nav-option i {
  font-size: 1.23rem;
}
.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}

/* ------libary -----*/
.libary {
  background-color: #121212;
  border-radius: 1rem;
  height: 422px;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.libary .option {
  display: flex;
  justify-content: space-between;
}
.libary .option .libary-option img {
  height: 1.25rem;
  width: 1.25rem;
}
.libary .option .ican {
  font-size: 1.25rem;
  display: flex;
}
.libary .option .ican i {
  opacity: 0.5;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.libary .option .ican i:hover {
  opacity: 1;
}

/* -----boxes------*/
.boxes {
  height: 8rem;
  background-color: #232323;
  border-radius: 0.75rem;
  margin: 0.75rem 0 0.75rem 0;
  padding: 0.25rem 1rem;
}
.boxes .lib-box .box-p1 {
  font-size: 0.90rem;
  font-weight: 500;
}
.boxes .lib-box .box-p2 {
  font-size: 0.75rem;
  opacity: 0.9;
  line-height: 5px;
}
.badge {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  margin: 0.5rem;
  height: 2rem;
  width: fit-content;
}

/* ===========main-contant========== */

.main-contant {
  background-color: #121212;
  flex: 1;
  overflow: auto;
  padding: 0 1.5rem;
  height: 563px;
  border-radius: 1rem;
}
.main-contant h2 .showAll{
  font-size: 0.8rem;
  display: flex;
  justify-content: end;
  text-align: center;
  opacity: 0.7;
}
.main-contant h2 .showAll:hover{
  cursor: pointer;
  text-decoration: underline;
  opacity: 1;
}
/* ---------stick-nav------- */
.main-contant .stick-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  z-index: 10;
}
.main-contant .stick-nav .sticky-nav-icons {
  margin-left: 0.75rem;
}
.main-contant .stick-nav .sticky-nav-option {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-contant .stick-nav .sticky-nav-option .nav-item {
  margin: 1rem;
}
.dark-badge {
  background-color: #000000;
  color: white;
}
@media (max-width: 768px) {
  .hide {
    display: none;
  }
}

/* --------cards-container------- */
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.cards-container .card {
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 0.8rem;
  margin-top: 0.8rem;
  height: 230px;
}
.hover_play {
  display: none;
}
.cards-container .card:hover .hover_play {
  position: relative;
  top: -212px;
  height: 65%;
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: end;
  align-items: end;
  border-radius: 5px;
  backdrop-filter: blur(1px);
  background: rgba(200, 200, 200, 0.1);
  color: #4bcb3a;
}
.cards-container .card .card-img {
  width: 100%;
  border-radius: 0.5rem;
}
.cards-container .card .card-title {
  font-weight: 600;
  margin: 0;
  font-size: 0.9rem;
}
.cards-container .card .card-info {
  font-size: 0.85rem;
  opacity: 0.5;
  margin: 0;
  font-size: 0.75rem;
}

/* ======== footer ====== */
.footer {
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin-top: 1rem;
}
.footer div{
  padding: 0 1rem;
}
.footer p{
  font-size: 0.8rem;
  line-height: 1rem;
  opacity: 0.6;
}
.footer p:hover{
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
}
.footer .social_links{
  padding-top: 1rem;
  display: flex;
}
.footer .social_links .social_links_icon{
  height: 40px;
  border-radius: 25px;
  margin: 0 5px;

}
.footer .social_links .social_links_icon:hover{
  background-color: #232323;
}
.footer .social_links div i{
  padding: 10px 0;
  font-size: 1.2rem;
}


.line {
  width: 100%;
  height: 40%;
  border-top: 1px solid white;
  margin-top: 2rem;
  padding-top: 20px;
}
.footer_Info{
  padding: 5px;
  opacity: 0.6;
  font-size: 0.8rem;
  
}
.footer_Info:hover{
  cursor: pointer;
  opacity: 0.9;
}

/* Scroll bar */
::-webkit-scrollbar{
  width: .8rem;
  border-radius: .5rem;
  background-color: #121212;
}
::-webkit-scrollbar-thumb{
  background-color: hsl(228, 8%, 35%);
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(228, 8%, 45%);
}

/* ===========music-player========== */
.music-player {
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.music-player .album {
  width: 25%;
}
.music-player .player {
  width: 50%;
}
.music-player .volume {
  width: 25%;
}
a {
  text-decoration: none;
  color: white;
}


/* ================= */
/*album*/

.songImage {
  width: 50px;
  float: inline-start;
  border-radius: 50%;
}
.spinAnimation {
  animation: spin 4s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.songTitle {
  font-size: 12px;
  margin: 0 5px;
  padding: 3px;
}



/* ------player-controls----- */
.player-control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.player-button {
  background-color: rgb(0, 0, 0);
  border: none;
}
.icons {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  opacity: 0.7;
}
.icons:hover {
  opacity: 1;
}
.opct1 {
  font-size: 30px;
  opacity: 1;
}
.player-progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.player-progress-bar p {
  margin: 0;
}
.timeline {
  width: 80%;
}

/* -------- */
.volume-controls-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#sound-button {
  width: 35px;
}
body{
  background-image: url("../img/music1.jpg");
  background-size:0;
  width: 100%;
}

/* ================= */

@media (max-width: 768px) {
  .sidebar,
  .footer, 
  .cards-container,  h2,
  .main-contant .stick-nav,
  .line{
    display: none;
  }
  .music-player .album {
    width: 10%;
  }
  .music-player .player {
    width: 80%;
  }
  .music-player .volume {
    width: 10%;
    opacity: 0;

  }
  body{
    background-image: url("../img/music12.jpeg");
    background-size:auto;
  }
  .main-contant{
    margin-left: -10px;
    margin-top: -10px;
    width: 100%;
    height: 1400px;
    backdrop-filter: blur(50px);
    background-color:transparent;
  }
  .songImage {
    position:absolute;
  }
  .songTitle {   
    font-size: 20px;
    width: 90%;
    position: absolute;
    text-align: center;
  }

  .player-button {
    padding: 0 15px;
    background-color: transparent;
  }
  .icons {
    font-size: 30px;
    background-color: transparent;
  }
  .opct1 {
    font-size: 40px;
    opacity: 1;
  }
  .music-player .volume{
    opacity: 1;
  }
  .music-player {
    background-color: transparent;
  }
  .player-progress-bar{
    position: relative;
    bottom: 150px;
  }
  .player-control-btn{
    position: relative;
    left: 30px;
    bottom: 80px;
  }
  .volume-controls-btn{
    position: relative;
    left: -650px;
    top: -950px;
  }
  .volume-high{
    position: relative;
    left: -25px;
  }
  .headphones{
    position: relative;
    left: 660px;
  }
  .compact-disc{
    opacity: 0;
  }
  .fa-minimize{
    opacity: 0;
  }
  .down{
    position: relative;
    top: -860px;
    left: 160px;
  }
}
@media screen and (425px <= width <= 768px){
  .main-contant{
    height: 1200px;
    backdrop-filter: blur(50px);
    background-color:transparent;
  }
  .respone_main{
    bottom: 300px;
    height: 750px;
  }
  .songImage {
    bottom: 330px;
    left: 20%;
    width: 450px;
  }
  .songTitle {
    bottom: 250px;
  }

}
@media screen and (375px <= width <= 425px){
  .respone_main{
    bottom: 250px;
    height: 420px;
  }
  .songImage {
    bottom: 350px;
    left: 18%;
    width: 250px;
  }
  .songTitle {
    font-size: 20px;
    bottom: 280px;
  }
  .player-progress-bar{
    bottom: 120px;
  }
  .player-control-btn{
    bottom: 50px;
  }

  .volume-controls-btn{
    left: -300px;
    top: -750px;
  }
  .headphones{
    left: 300px;
  }
  .down{
    top: -685px;
    left: -10px;
  }

}
@media screen and (0px <= width <= 375px){
  .respone_main{
    bottom: 250px;
    height: 320px;
  }
  .songImage {
    bottom: 300px;
    left: 15%;
    width: 250px;
  }
  .songTitle {
    font-size: 15px;
    bottom: 230px;
  }
  .player-progress-bar{
    bottom: 120px;
  }
  .player-control-btn{
    bottom: 50px;
  }

  .volume-controls-btn{
    left: -280px;
    top: -650px;
  }
  .headphones{
    left: 280px;
  }
  .down{
    top: -585px;
    left: -35px;
  }
}

